@font-face {
  font-family: "Edwardian Script";
  src: url("../fonts/EdwardianScriptITC.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #000000;
  background: url(../images/bg-2.jpg) no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-position: 0%;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.d-flex {
  display: flex;
}
li {
  list-style: none;
}
h1 {
  font-size: 50px;
  color: #1c8dff;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
p {
  font-size: 16px;
  line-height: 1.6;
}
header {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

header .logo {
  flex-basis: auto;
}
header .center-headline {
  /* flex-basis: 60%; */
  margin: 0 30px;
  text-align: center;
}
header .leader {
  /* flex-basis: 20%; */
}
header .leader img {
  border-radius: 50%;

  object-fit: cover;
}
.infos {
  padding: 20px 0;
}
.infos .overall-tabs {
  width: auto;
  position: relative;
  margin: 0 30px 0 0;
}
.infos .inner-content {
  width: 50%;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.08),
    0 0 1px 0 rgba(0, 0, 0, 0.12);
  margin: 0 30px 0 0;
}
.infos .carousel {
  width: 50%;
  position: relative;
}
.tabs-sec img {
  width: 50%;
}
.infos {
  justify-content: space-between;
}
.infos li {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0 10px 0;

  opacity: 0.5;
}
.arrow {
  position: absolute;
  width: 25%;
  right: -42%;
  transition: 0.5s top ease;
}
.carousel img {
  width: 100%;
  border-radius: 10px;
}
.right-section {
  width: 90%;
}
.home,
.service,
.contact {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.08),
    0 0 1px 0 rgba(0, 0, 0, 0.12);
}
.infos li img {
  pointer-events: none;
}
.show-anim {
  animation: show 1s ease forwards;
}
.right-section .active {
  display: block !important;
  animation: show 1s ease forwards;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab-content {
  display: none;
}
.tabs-sec li.active {
  opacity: 1;
}
footer {
  align-items: center;
  margin-top: 80px;
  background: #fff;
  padding: 20px 30px;
}
.social-links img {
  width: 30px;
}
.social-links {
  flex: 1;
}
.quote {
  flex: 1;
  text-align: left;
}

.social-links h6 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: right;
}
.social-links .d-flex {
  justify-content: flex-end;
}
.social-links li {
  margin: 0 20px 0 0;
}
.social-links li:last-child {
  margin: 0;
}
.quote h3 {
  font-family: "Edwardian Script";
  font-size: 70px;
  color: #1c8dff;
  font-weight: 300;
  line-height: 1;
}
.wrap {
  flex-wrap: wrap;
}
.sec-gallery {
  padding: 20px;
  width: calc(100% / 4);
  cursor: pointer;
}
.sec-gallery:first-child {
  padding-left: 0;
}
.sec-gallery:last-of-type {
  padding-right: 0;
}
.sec-gallery h4 {
  font-size: 22px;
  margin-top: 5px;
}
.swiper-button-prev-unique,
.swiper-button-next-unique {
  top: auto;
  bottom: -20%;
  border: 1px solid #1c8dff;
  padding: 21px;
  border-radius: 50%;
  background: #1c8dff;
}
.swiper-button-prev-unique:focus,
.swiper-button-next-unique:focus {
  outline: none;
}
.swiper-button-prev-unique,
.swiper-container-rtl .swiper-button-next-unique {
  left: 43%;
  transform: translateX(-50%);
}
.swiper-button-next-unique,
.swiper-container-rtl .swiper-button-prev-unique {
  right: 43%;
  transform: translateX(50%);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ffffff;
  font-size: 18px;
}

.dist-menu {
  align-items: center;
}
.dist-menu .left-sub {
  width: auto;
}
.right-date {
  width: 90%;
}
.right-date img {
  width: 100%;
}
.right-date .d-flex {
  align-items: center;
}
.cal-vector {
  width: 5%;
}
.text {
  width: 100%;
}
.right-date figure {
  margin: 0 12px 0 0;
}
.btn {
  color: #ffffff;
  background-color: #1c8dff;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  display: inline-block;
  width: auto;
  text-transform: capitalize;
}
.right-date .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.inner-gallery .inner-pics {
  display: none;
}
.inner-pics {
  animation: show 1s ease forwards;
}
.back {
  margin-bottom: 20px;
  display: inline-block;
}
@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  .dist-menu {
    flex-direction: column;
  }
  .dist-menu .left-sub {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .right-date {
    width: 100%;
    padding: 20px 0;
  }
  .infos {
    flex-direction: column;
  }
  .infos .overall-tabs {
    margin: 0;
  }
  .tabs-sec {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
  }
  .right-section {
    width: 100%;
  }
  .arrow {
    display: none;
  }
  .quote {
    flex-basis: 80%;
  }
  footer {
    padding: 20px;
  }
  .swiper-button-prev-unique,
  .swiper-button-next-unique {
    bottom: -35%;
  }
  header .leader,
  header .logo {
    flex-basis: 20%;
  }
  header .center-headline {
    flex-basis: 60%;
    margin: 0 15px;
  }
  .announcement {
    flex-direction: column;
  }
  .infos .inner-content {
    width: auto;
    margin: 0 0 20px 0;
  }
  .infos .carousel {
    width: auto;
  }
  .sec-gallery {
    width: calc(100% / 2);
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .quote {
    margin: 0 0 20px 0;
  }
  .quote h3 {
    text-align: center;
  }
  .cal-vector {
    width: 10%;
  }
  .text {
    width: 90%;
  }
}
